body{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 17%, rgba(97,97,97,1) 100%); 
    overflow-x: hidden;
}
header {
    font-family: 'Archivo';
    font-size: 80px;
    position: sticky;
    background-color: whitesmoke;
    padding: 25px;
}
p1{
    font-size: 48px;
    font-weight: bolder;
}
p{
    color: #ffffff;   
}
h2
{
    color: #ffffff;
    margin:1px;
    text-align: start;
    font-size: xx-large;
}
h3
{
    color:#ffffff;
    margin:1px;
}
label
{
    margin-left:10px;
    color:#ffffff;
    font-size: large;
    line-height:1px;
}
input
{
    margin-left:30px;
    width: calc(100% - 30px);
    /* Firefox */
    width: -moz-calc(100% - 30px);
    /* WebKit */
    width: -webkit-calc(100% - 30px);
    /* Opera */
    width: -o-calc(100% - 30px);
    font-size: medium;
}

#resultsPanel input
{
    color:#ffffff;
    background: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
}

footer
{
    color:#ffffff;
    text-align: right;
    position: fixed;
    bottom:1%;
    right:1%;
}