body{
    background-color: rgb(44, 44, 44);
    overflow-x: hidden;
}
header {
    font-family: 'Archivo';
    font-size: 80px;
    position: sticky;
    background-color: whitesmoke;
    padding: 25px;
}
p1{
    font-size: 48px;
    font-weight: bolder;
}
p{
    color: #ffffff;   
}
h2
{
    color: #ffffff;
    filter:drop-shadow( #f0f0f0 0px 0px 6px)    
}
h3
{
    color:#ffffff;
}
label
{
    color:#ffffff;
}

#donationBox
{
    filter:drop-shadow( #fff 0px 0px 6px);
    position:relative;
    top: 70%;
    left: 45%;
    width: 50%;
    height: 100%;
}
#donationBox form 
{
    position:relative;
    left: 60%;
}

#icon
{

    font-size: 100px;
    color: white;
    position: initial;
    padding:15%;
    width:100%;
}

#resultsPanel input
{
    color:#ffffff;
    background: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
}

#icon:hover
{
    animation: iconhover 250ms forwards;
}
#icon:active
{
    animation: iconactive 250ms forwards;
}
#icon:not(:active)
{
    animation: iconclicked 250ms forwards;
}



@keyframes iconhover
{
    0%  {transform:rotateZ(0);}
    25% {transform:rotateZ(15);}
    35% {transform:rotateZ(-15);}
    45% {transform:rotateZ(0);}
    100% {transform:rotateZ(0);}
}
@keyframes sectionhover
{
    0%{background-color: rgb(44, 44, 44); color:#ffffff;}
    25% {background-color: #ffffff; color: rgb(44, 44, 44);}
    100%{background-color: rgb(44, 44, 44); color:#ffffff;}
}

@keyframes iconclicked
{
    0%{text-shadow: 0px 0px 50px #ffffff;}
    100%{text-shadow: 0px 0px 0px #ffffff;}
}

@keyframes iconactive
{
    0%{text-shadow: 0px 0px 0px #ffffff;}
    100%{text-shadow: 0px 0px 50px #ffffff;}
}

@keyframes hide
{
    0% {opacity: 100; transform:translateX(0px); -webkit-transform:translateX(0px);}
    100% {opacity: 0; transform:translateX(350px);  -webkit-transform:translateX(350px);}
}
@keyframes show
{
    0% {opacity: 0; transform:translateX(-350px);  -webkit-transform:translateX(-350px);}
    100% {opacity: 100; transform:translateX(0px); -webkit-transform:translateX(0px);}
}

.reveal.active{
    
    animation: show 1s forwards;
  }
  .reveal:not(.active){
    animation: hide 250ms forwards;
  }